// 颜色定义规范
$color-highlight: #f04848;
$color-text: #333;
$color-text-d: rgba(255, 255, 255, 0.3);
$color-text-l: rgba(255, 255, 255, 0.5);
$color-text-ll: rgba(255, 255, 255, 0.8);

// 字体定义规范
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-medium-x: 15px;